:root {
	--primary: #7084ee;
	--secondary: #9ba9f3;
	--main-hover: #BBC4F0;
}

.bg-primary {
	background-color: var(--primary);
}

.bg-secondary {
	background-color: var(--secondary);
}

.bg-main-hover {
	background-color: var(--main-hover);
}

.black-shadow {
	box-shadow: 0px 0px 10px 2px #00000040;
}
