:root {
	--primary: #7084ee;
	--secondary: #9ba9f3;
	--main-hover: #bbc4f0;
	--red: #ff3333;
}

.bg-primary {
	background-color: var(--primary);
}

.bg-secondary {
	background-color: var(--secondary);
}

.bg-main-hover {
	background-color: var(--main-hover);
}

.bg-red {
	background-color: var(--red);
}

.black-shadow {
	box-shadow: 0px 0px 10px 2px #00000040;
}

.secondary-shadow {
	box-shadow: 0px 0px 10px 2px var(--secondary);
}

.bg-image {
	background-image: url("../../public/assets/images/back1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

input[type="file"] {
	display: none;
}

input::-webkit-calendar-picker-indicator {
	opacity: 0;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
}

h3 {
	font-size: 1.25rem;
}

th {
	position: sticky;
}

.border-secondary {
	border: solid var(--secondary);
}

.border-color-secondary {
	border-color: var(--secondary);
}
