@tailwind base;
@tailwind components;
@tailwind utilities;

.site-font {
	font-family: "Roboto";
}

.center-modal {
	transform: translate(-50%, -50%);
}

.bg-image {
	background-image: url("../public/assets/images/backgroud.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.hide-scroll-bar::-webkit-scrollbar {
	display: none;
}

.hide-scroll-bar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
